// $brand-primary: #5585B5;
$brand-primary: #009B95;
$brand-red: #b55555;
$brand-accent: #FF9800;
$brand-secondary: #53A8B6;
$brand-tertiary: #79C2D0;
$brand-quaternary: #BBE4E9;
$color-green: #55b585;
$color-light-maroon: #b55585;
$color-tan-orange: #b58555;
$color-black: #4A4A4A;
$color-font-grey: #69707A;
$text-white: #f4f4f4;
$heart: #ED6C63;

.dark-blue-color{
  color: $brand-primary !important;
}

.green-color{
  color: $color-green;
}

.maroon-color{
  color: $color-light-maroon;
}

.tan-orange-color{
  color: $color-tan-orange;
}

.black-color{
  color: $color-black;
}

.dark-blue-background{
  background-color: $brand-primary;
  color: white;
}

.generic-hover:hover{
  color: $brand-secondary !important; 
}

#twitter-hover:hover{
  color: #55acee !important;
}

#facebook-hover:hover{
  color:  #3b5998 !important;
}

#gitlab-hover:hover{
  color: #ff5a00 !important;
}

.nav-toggle:hover {
  background-color: transparent !important;
}

.menu-color-white{
  background-color: white !important;
}

#custom-website-border{
  border-color: $color-green;
}

#content-management-border{
  border-color: $brand-primary;
}

#e-commerce-border{
  border-color: $color-light-maroon;
}

#email-icon {
  color: $brand-primary;
}
input.input:active, input.input:focus {
    border-color: $brand-primary !important;
}

#heart {
    color: $heart;
}

@mixin color-gradient($color) {
    $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
    $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);
    background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
}