.title, .subtitle, p, label.label {
  color: $text-white;
}
.main-image-header {
 background-image: url(/images/bg.jpg) ;
 background-position: center center;
 background-repeat:  no-repeat;
 background-attachment: fixed;
 background-size:  cover;
}
.main-section {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .field {
      width: 50%;
      @media(max-width: 768px) {
        width: 100%;
      }
    }
    input.button {
      @include color-gradient($brand-primary);
      color: $text-white;
      border-color: $brand-primary;
      margin-top: 2.5%;
      &:hover, &:focus, &:active, &.is-active {
        @include color-gradient(lighten($brand-primary, 10%));
        border-color: lighten($brand-primary, 10%);
      }
    }
  }
}
.made-with-love {
  color: $text-white;
  padding: 2.5% 0;
}

#about{
  @include color-gradient($brand-primary);
  i.fa {
    color: white;
  }
  #about-columns {
    margin-top: 5%;
  }
}