.title, .subtitle, p, label.label {
    color: $text-white;
}
.main-image-header {
   background-image: url(/images/bg.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}
.main-section {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    .container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p.control {
            width: 75%;
             input {
                width: 100%;
            }
        }
        input.button {
            @include color-gradient($brand-primary);
            color: $text-white;
            border-color: $brand-primary;
            &:hover, &:focus, &:active, &.is-active {
                @include color-gradient(lighten($brand-primary, 10%));
                border-color: lighten($brand-primary, 10%);
            }
        }
    }
}
.made-with-love {
    color: $text-white;
    padding: 2.5% 0;
}