%cover-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin background-image-cover($background-url){
  background: url($background-url) center;
  background-size: cover; 
}

@mixin background-section($rgba, $min-height){
  background-color: $rgba;
  min-height: $min-height;
}

@mixin set-height-width($height, $width){
  height: $height;
  width: $width;
}

@mixin set-height-width-viewport($min-height, $min-width){
  min-height: $min-height;
  min-width: $min-width;
}

@mixin set-flex($direction){
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin color-text-size($color, $size, $m-size, $max-width){
  color: $color;
  font-size: $size;
  @media (max-width: $max-width) {
    font-size: $m-size;
  }
}

img {
  border-radius: 15px;
}