<html>
	<head>
		<link rel="stylesheet" href="/styles/main.css">
	</head>
	<body>
		<div id="error">
			<h1>{{error}}</h1>
			<p>You are trying to access a page that doesnt exist</p>
			<p>Please contact us, if this is an error: <a href="mailto:alphaity@alphaity.io?subject=404" "Found an error on your website">Alphaity@alphaity.io</a></p>
			<a href="/">Go Back Home</a>
		</div>
	</body>
</html>
