<div class="main-image-header">
    <section class="hero is-fullheight main-section">
        <div class="container">
            <h1 class="title is-1">Lunch Specials Near Me</h1>
            <h2 class="subtitle is-3">Linking Local Restaurants with Local Stomachs</h2>
        </div>
        <div class="container">
            <h3 class="title is-3" style="color:#e8df00">Hey! We need your help!</h3>
            <h5 class="subtitle is-5">We are seeking local foodies for their favorite places to eat.</h5>   
            <form action="/help" method="post" class="is-fullwidth">
              <label for="#restaurants" class="label">Restaurants</label>
                <p class="control">
                    <input type="text" class="input" name="restaurants" id="restaurants" placeholder="Wolf's Ridge Brewery, Thai's Asian Bistro, Da Levee" required>
                </p>
                <label for="locaton" class="label">Location</label>
                <p class="control">
                    <input type="text" class="input" name="location" id="location" placeholder="Columbus, OH or 43215" required>
                </p>
                <p class="control">
                    <input class="button is-fullwidth" type="submit" value="Submit"/>
                </p>
            </form>
        </div>
        <div class="made-with-love">
            Made with 
            <span class="icon">
                <i class="fa fa-heart" id="heart"></i>
            </span>
            by <a href="https://alphaity.io">Alphaity.io</a>
        </div>
    </section>
</div>