@import 'colors';
.index-image-wrapper {
 background-image: url(/images/bg.jpg) ;
 background-position: center center;
 background-repeat:  no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.index-wrapper {
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.home-container {
  height: 100vh;
  .row {
    height: 100%;
  }
  .home-content {
    color: $text-white;
  }
}
