$brand-primary: #009B95;
$brand-red: #b55555;
$brand-accent: #FF9800;
$brand-secondary: #53A8B6;
$brand-tertiary: #79C2D0;
$brand-quaternary: #BBE4E9;
$color-green: #55b585;
$color-light-maroon: #b55585;
$color-tan-orange: #b58555;
$color-black: #4A4A4A;
$color-font-grey: #69707A;
$text-white: #f4f4f4;
$heart: #ED6C63;
$placeholder: #C0C0C0;
/* Coolors Exported Palette - coolors.co/23f0c7-ef767a-7d7abc-6457a6-ffe347 */

/* HSL */
$color1: hsla(168%, 87%, 54%, 1);
$color2: hsla(358%, 79%, 70%, 1);
$color3: hsla(243%, 33%, 61%, 1);
$color4: hsla(250%, 31%, 50%, 1);
$color5: hsla(51%, 100%, 64%, 1);

/* RGB */
$color1: rgba(35, 240, 199, 1);
$color2: rgba(239, 118, 122, 1);
$color3: rgba(125, 122, 188, 1);
$color4: rgba(100, 87, 166, 1);
$color5: rgba(255, 227, 71, 1);