/* map sizing taken from https://www.labnol.org/internet/embed-responsive-google-maps/28333/ */
.specials-container {
  height:90vh
}
#map {
  height: 90vh;
  width: auto;
}
.restaurant-cards-list {
  height: 65vh;
  overflow-y: scroll;
}
.button-group {
  margin-top: 2.5%;
}
.modal-address {
  padding-left: 0;
}
.modal-address li {
  list-style: none;
}
.modal-button-group {
  margin-bottom: 5%;
}
.ad-container {
  p {
    position: absolute;
    text-align: center;
    width: 90%;
  }
  ins {
    display: initial;
  }
}