@import '_colors';
#header {
 background-image: url(/static/bg.jpg) ;
 background-position: center center;
 background-repeat:  no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.main-section {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}

h1, h3 {
  color: $text-white;
  text-align: center;
}